<div class="page-header">
  <h1>
    Songs
    <a href="/songs/new" class="btn btn-lg btn-success">New Song</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Rapper</th>
        <th>Producer</th>
        <th>YouTube Link</th>
        <th>Year</th>
        <th>Actions</th>
      </tr>

      <% @songs.each do |song| %>
      <tr>
        <td>
          <a href="/songs/<%= song.id %>">
          <%= song.title %></td>
        <td>
          <a href="/rappers/<%= song.rapper_id %>">
          <%= song.rapper.name %></td>
        <td>
          <a href="/producers/<%= song.producer_id %>">
          <%= song.producer.name %></td>
        <td><iframe width="280" height="158" src="<%= song.audio_link.gsub("watch?v=","embed/") %>" frameborder="0" allowfullscreen></iframe></td>
        <td><%= song.year %></td>
        <td>
          <a href="/songs/<%= song.id %>" class="btn btn-primary">Show</a>
          <a href="/songs/<%= song.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_song/<%= song.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
