<div class="page-header">
  <h3><%= @producer.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Picture</dt>
      <dd><img src="<%= @producer.picture %>" width="400"</dd>

      <dt>Name</dt>
      <dd><%= @producer.name %></dd>

      <dt>City</dt>
      <dd><%= @producer.city %></dd>

    <dt>Number of songs</dt>
    <dd><%= @producer.songs.count %></dd>

    <dt>Discography</dt>
    <dd>
      <ul class="list-group">
      <% @producer.songs.each do |song| %>
        <li class="list-group-item">
          <a href="/songs/<%= song.id %>">
            <%= song.title %> (<%= song.year %>)
          </a>
        </li>
      <% end %>
    </dl>


    <div class="btn-group btn-group-justified">
      <a href="/producers" class="btn btn-primary">
        Back
      </a>
      <a href="/producers/<%= @producer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_producer/<%= @producer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
