<!-- Validation failure messages -->
<% if @rapper.errors.any? %>
  <% @rapper.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Rapper</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_rapper" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @rapper.name %>">
      </div>

      <!-- Label and input for picture -->
      <div class="form-group">
        <label for="picture" class="control-label">
          Picture
        </label>

        <input type="text" id="picture" name="picture" placeholder="Picture" class="form-control" value="<%= @rapper.picture %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @rapper.city %>">
      </div>

      <button class="btn btn-success">
        Create Rapper
      </button>
      or
      <a href="/rappers">Cancel</a>
    </form>
  </div>
</div>
