<div class="page-header">
  <h3><%= @rapper.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Picture</dt>
      <dd><img src="<%= @rapper.picture %>" width="400"</dd>

      <dt>Name</dt>
      <dd><%= @rapper.name %></dd>

      <dt>Hometown</dt>
      <dd><%= @rapper.city %></dd>

      <dt>Number of songs</dt>
      <dd><%= @rapper.songs.count %></dd>

      <dt>Discography</dt>
      <dd>
        <ul class="list-group">
        <% @rapper.songs.each do |song| %>
          <li class="list-group-item">
            <a href="/songs/<%= song.id %>">
              <%= song.title %> (<%= song.year %>)
            </a>
          </li>
        <% end %>
      </dd>
      </dl>


    <div class="btn-group btn-group-justified">
      <a href="/rappers" class="btn btn-primary">
        Back
      </a>
      <a href="/rappers/<%= @rapper.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rapper/<%= @rapper.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
